# gradle

.gradle/
build/
out/
classes/
output/
libs/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.settings
.vscode/
.vscode
bin/
.classpath
.project

# macos

*.DS_Store

# minecraft

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# others

.metadata
.architectury-transformer/
